.row
  .span1
    = gravatar_for @user
  .span7
    %p
      %b Name:
      = @user.name
    %p
      %b Email:
      = @user.email

%br

-if @tasks.empty?
  %div
    %em Lazy user.
-else
  %h4 User works in #{pluralize((@tasks.uniq.collect.count), 'task')}:
  =render @tasks.uniq
  =will_paginate @tasks

%br
%a.btn{href:edit_user_path(@user)}
  Edit

%a.btn{href:users_path}
  Back

