- @fullpage = true
- unless current_user && (current_user.has_role? :approved)
  .alert
    %button.close{"data-dismiss" => "alert", :type => "button"} &times;
    %strong Warning!
    You are a Unapproved User, contact with the administrator
