- @fullpage = true
.hero-unit
  %h1 Welcome to Kiwitime!
  %p Manage your time, manage your life.
  %p
    %a.btn.btn-primary.btn-large{href:user_omniauth_authorize_path(:google_oauth2)} Log in With Google &raquo;
/ Example row of columns
.row
  .span4
    %h2 Scrum
    %p .
  .span4
    %h2 Task & Sittings
    %p .
  .span4
    %h2 Sprints
    %p .