%h2 Projects
%ul.unstyled
  - @projects.each do |project|
    %li{style:'border-bottom:1px solid #F2F2F2'}
      %h4
        = link_to project.name, project, style: 'display:block;padding:5px 20px'



%br

%br
.pull-right
  %a.btn.btn-primary(href=new_project_path) New Project
