.page-header
  %h2
    = @project.name
    %small
      .btn-group.pull-right
        %a.btn.btn-warning{href: edit_project_path(@project)}
          %i.icon-pencil.icon-white
          Edit
        %a.btn.btn-danger{"data-confirm" => "Are you sure?", "data-method" => "delete", href: project_path(@project), rel: "nofollow"}
          %i.icon-remove.icon-white
          Delete
  
-unless @project.tasks.empty?
  =render @project.tasks
      

%br
.pull-right
  -if can? :create, @project.tasks.build
    %a(href='#{params[:id]}/tasks/new' class='btn btn-primary') New Task 
%br
%br
=# link_to 'New Task', new_project_task_path


%br


/= link_to 'Tasks', project_tasks_path(@project)
/= link_to 'Back', projects_path, class: 'btn' 
