:javascript
  $(document).ajaxSend(function(e, xhr, options) {
  var token = $("meta[name='csrf-token']").attr("content");
  xhr.setRequestHeader("X-CSRF-Token", token);
  });
  // Sorting the list
  
  $(document).ready(function(){
     $('#tasks').sortable({
         placeholder: "ui-state-highlight",
         axis: 'y',
         dropOnEmpty: false,
         handle: '.handle',
         cursor: 'move',
         items: '.row',
         opacity: 0.4,
         scroll: true,
         update: function(){
            $.ajax({
                type: 'post',
                data: $('#tasks').sortable('serialize'),
                dataType: 'script',
                complete: function(request){
                   $('#tasks').effect('highlight');
                },
                   url: '#{sort_project_tasks_path(@project)}'})
                }
            });
       });


.page-header
  %h2
    = @project.name
    %small
      .pull-right
        -if can? :report, @project
          = link_to "Report", report_project_path(@project, @task), target:"_blank", class:'btn'
          / - monday = Time.now.to_date - ((Time.now.wday + 6) % 7).day 
          / = link_to "Report last week", report_project_path(@project, @task, week: monday - 1.week), target:"_blank", class:'btn'
          / = link_to "Report of current week", report_project_path(@project, @task, week: monday), target:"_blank", class:'btn'
        .btn-group
          %a.btn.btn-warning{href: edit_project_path(@project)}
            %i.icon-pencil.icon-white
            Edit
          %a.btn.btn-danger{"data-confirm" => "Are you sure?", "data-method" => "delete", href: project_path(@project), rel: "nofollow"}
            %i.icon-remove.icon-white
            Delete
  
-unless @project.tasks.empty?
  #tasks
    =render @project.tasks
  

%br
.pull-right
  -if can? :create, @project.tasks.build
    %a{href:new_project_task_path(@project), class:'btn btn-primary'} New Task 

= link_to 'Back', projects_path, class: 'btn' 
