/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

th, td {
	padding:1ex 1em;
	border:1px solid whitesmoke;
	background: #FFF;
}

th{
	background: whitesmoke;
	border: 1px solid lightgrey;
}

table{
	width:100%;
}

th:empty{
	width: 40px;
	#display:none;
	visibility: hidden;
}
/*
a:hover{
	background: none !important;
}

a:visited{
	color: #08C !important;
}
*/


.btn{font-family:georgia}

.completedtask{text-decoration:line-through}

.navbar{
	a{font-family:georgia}
	.gravatar{position:absolute;top:5px;left:-25px}
}


.projects-list {
	.projects-project{
		border-bottom:1px solid #F2F2F2;

		.projects-project-name{
			display:block;
			padding:5px 20px;
		}
	}
}

.icon-grey{opacity:.3}

.task.row{
	padding:.75ex 0px .75ex 5px;
	margin:.75ex 0;
	position:relative;
	border:1px solid whitesmoke;

	&.accept{background:#eeffcc;}
	&.reject{background:#ffddcc;}
}

.comments .comment{
	border-bottom:1px solid whitesmoke;
	padding:.5ex 0;
}

.handle{
	position:absolute;
	left:0px;
	width:16px;
	border:1px solid whitesmoke;
	top:-1px;
	padding-left:3px;
	height:100%;
	background:whitesmoke url('DragTaskIcon4.png') center center no-repeat;
}


.row.muted .name{
	opacity:0.9;
}

.list .item{
	padding:1ex 1em;
	margin:1ex 1em;
	border-bottom:1px solid #F2F2F2;
	.gravatar{
		margin-right:1em;
	}
}


body .grey-points{
	width: 2em;
	text-align:center;
	color:#AAA;
	font-size:25px;
	line-height:30px;
	position:relative;


	.options{
		position:absolute;
		background:white;
		right:0;
		z-index:10;
		width:320px;
		display:none;
		border:1px solid whitesmoke;
		.input-grey-points{
			float:left;
			width: 2em;
			text-align:center;
			color:#AAA;
			font-size:15px;
			line-height:30px;
			padding:0;
			border:1px solid whitesmoke;
		}
	}
	&:hover .options{
		display:block;
	}

	&.sum{
		margin: 0 -8px;
		border: 8px solid transparent;
		border-top: 1px solid #DDD;
		.sum-label{
			position:absolute;
			left:-80px;
		}
	}
}

.task.row .mini-avatars{width:44px}



body{
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container{
		width: 1200px - 20px;
	}
	
	@for $i from 1 through 12 {
	  .span#{$i} { width: $i*100px - 20px; }
	}

	@for $i from 1 through 12 {
	  input.span#{$i}, textarea.span#{$i}, .uneditable-input.span#{$i} { width: $i*100px - 20px - 4px; }
	}
}

.form-inline{
	margin:0;
}

#ui-datepicker-div{
  background:#FFF;
  padding: 1ex 1em;
  box-shadow: 1px 1px 10px whiteSmoke;
}
.ui-datepicker-prev{
  float:left;
}
.ui-datepicker-next{
  float:right;
}
.ui-datepicker-title{
  text-align:center;
}


a span{cursor: pointer;}

.ui-datepicker-trigger{padding-left: 10px;vertical-align:baseline}

.ui-datepicker-calendar{
  .ui-datepicker-current-day{}
  .ui-state-highlight{background: #FCFCFA;}
  .ui-state-active{background: #FFA;}
  td, th{
    padding:0;
    span, a{
      padding:1ex 1em;
      display:block;
    }
  }
}

