/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

th, td {
	padding:1ex 1em;
	border:1px solid whitesmoke;
	background: #FFF;
}

th{
	background: whitesmoke;
	border: 1px solid lightgrey;
}

table{
	width:100%;
}

th:empty{
	width: 40px;
	#display:none;
	visibility: hidden;
}
/*
a:hover{
	background: none !important;
}

a:visited{
	color: #08C !important;
}
*/


.btn{font-family:georgia}

.completedtask{text-decoration:line-through}

.navbar{
	a{font-family:georgia}
	.gravatar{position:absolute;top:5px;left:-25px}
}


.projects-list {
	.projects-project{
		border-bottom:1px solid #F2F2F2;

		.projects-project-name{
			display:block;
			padding:5px 20px;
		}
	}
}

.icon-grey{opacity:.3}

.task.row{
	margin:1.5ex 0;
	position:relative;
}

.handle{position:absolute;left:-25px;}

.row.muted .name{
	opacity:0.9;
}

.list .item{
	padding:1ex 1em;
	margin:1ex 1em;
	border-bottom:1px solid #F2F2F2;
	.gravatar{
		margin-right:1em;
	}
}